<div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <h4 class="page-title">User Groups</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- The AG Grid component -->
      <ag-grid-angular class="ag-theme-quartz"
                       style="height: 100vh; width: 100%;"
                       [rowData]="rowData"
                       [context]="context"
                       [columnDefs]="colDefs"
                       [suppressRowClickSelection]="true"
                       [class]="themeClass"
                       (gridReady)="onGridReady($event)"
                       [rowSelection]="rowSelection">
      </ag-grid-angular>
    </div>
  </div>
  